n8n_workflows/tailor.json
{
  "name": "JobHunt - Tailor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jobhunt/tailor",
        "options": {}
      },
      "id": "e0bdeca4-1c5d-4f11-bde9-e6cb0f23cfbb",
      "name": "webhook_trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1qaMc57-B2-3TQ76dRBufU305DDsff0B8Oh0R__KfA4Q"
        },
        "sheetName": {
          "__rl": true,
          "value": "applications",
          "mode": "name"
        },
        "filters": {
          "selfConfirm": true,
          "values": [
            {
              "column": "status",
              "condition": "equal",
              "value": "queued"
            }
          ]
        }
      },
      "id": "a9fdc2fb-e67c-48be-850d-83b6b19da2eb",
      "name": "Get Queued Roles",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        280,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HU20SC9nDcO7AUXR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "command": "$JOBHUNT_ROOT/.venv/bin/python $JOBHUNT_ROOT/playwright_scripts/enrich_linkedin.py --company \"{{$json.company}}\" --role \"{{$json.role}}\""
      },
      "id": "f5e1fe1c-d70a-40a2-b258-86d9a187babc",
      "name": "Run LinkedIn Enrichment",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = JSON.parse($json.stdout || '{}');\nconst row = $items('Get Queued Roles')[0].json;\n\nrow.hiring_mgr_name = output.hiring_manager?.name || '';\nrow.hiring_mgr_title = output.hiring_manager?.title || '';\nrow.hiring_mgr_linkedin = output.hiring_manager?.linkedin_url || '';\nrow.team_members = JSON.stringify(output.team_members || []);\nrow.referrals = JSON.stringify(output.referrals || []);\n\nreturn row;"
      },
      "id": "d0e1fe1c-d70a-40a2-b258-86d9a187b5bc",
      "name": "Parse Enrichment JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1qaMc57-B2-3TQ76dRBufU305DDsff0B8Oh0R__KfA4Q"
        },
        "sheetName": {
          "__rl": true,
          "value": "applications",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$json.id}}",
            "hiring_mgr_name": "={{$json.hiring_mgr_name}}",
            "hiring_mgr_title": "={{$json.hiring_mgr_title}}",
            "hiring_mgr_linkedin": "={{$json.hiring_mgr_linkedin}}",
            "team_members": "={{$json.team_members}}",
            "referrals": "={{$json.referrals}}"
          },
          "matchingColumns": [
            "id"
          ]
        }
      },
      "id": "18cfd2fb-a5a4-4dfb-9db3-a006dbfcf1ab",
      "name": "Save Enrichment to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        880,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HU20SC9nDcO7AUXR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Encode the full role JSON as base64 so the shell command never has to\n// quote arbitrary JD text. tailor.py decodes --input-b64 itself.\nconst row = $json;\nconst b64 = Buffer.from(JSON.stringify(row)).toString('base64');\nreturn { ...row, tailor_b64: b64 };"
      },
      "id": "ab1cde3d-0d67-4a0b-967a-28956e18f201",
      "name": "Build Tailor Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "command": "$JOBHUNT_ROOT/.venv/bin/python $JOBHUNT_ROOT/playwright_scripts/tailor.py --input-b64 \"{{$json.tailor_b64}}\""
      },
      "id": "cb1cde3d-0d67-4a0b-967a-28956e18f26a",
      "name": "Call Sonnet Tailor",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// tailor.py prints one merged JSON object on stdout (role + artifact urls +\n// previews + status). Parse it; on any failure surface a tailor_failed row so\n// the Sheet update still runs and the role is not silently lost.\nlet out;\ntry {\n  out = JSON.parse(($json.stdout || '').trim());\n} catch (e) {\n  out = { ...$json, status: 'tailor_failed', error: 'unparseable stdout: ' + (($json.stdout || '').slice(0, 200)) };\n}\nreturn out;"
      },
      "id": "bc1cde3d-0d67-4a0b-967a-28956e18f202",
      "name": "Parse Tailor Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1qaMc57-B2-3TQ76dRBufU305DDsff0B8Oh0R__KfA4Q"
        },
        "sheetName": {
          "__rl": true,
          "value": "applications",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$json.id}}",
            "resume_url": "={{$json.resume_url}}",
            "cl_url": "={{$json.cl_url}}",
            "essay_answers_url": "={{$json.essay_answers_url}}",
            "cl_preview": "={{$json.cl_preview}}",
            "resume_diff_preview": "={{$json.tailored_resume_diff_preview}}",
            "fit_summary": "={{ JSON.stringify($json.fit_summary_3_bullets || []) }}",
            "status": "={{$json.status}}"
          },
          "matchingColumns": [
            "id"
          ]
        }
      },
      "id": "18cfd2fb-a5a4-4dfb-9db3-a006dbfcfd19",
      "name": "Update Tailored URLs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        1680,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HU20SC9nDcO7AUXR",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Get Queued Roles": {
      "main": [
        [
          {
            "node": "Run LinkedIn Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run LinkedIn Enrichment": {
      "main": [
        [
          {
            "node": "Parse Enrichment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Enrichment JSON": {
      "main": [
        [
          {
            "node": "Save Enrichment to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Enrichment to Sheet": {
      "main": [
        [
          {
            "node": "Build Tailor Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tailor Payload": {
      "main": [
        [
          {
            "node": "Call Sonnet Tailor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Sonnet Tailor": {
      "main": [
        [
          {
            "node": "Parse Tailor Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tailor Output": {
      "main": [
        [
          {
            "node": "Update Tailored URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook_trigger": {
      "main": [
        [
          {
            "node": "Get Queued Roles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "tailor"
}